[Unit]
Description=Start the system server service
After=vconf-setup.service

[Service]
# set DISPLAY for usb_setting launching
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/device-daemon
TimeoutStopSec=2
NotifyAccess=all

[Install]
WantedBy=multi-user.target
