[Unit]
Description=System server
After=vconf-setup.service

[Service]
# set DISPLAY for usb_setting launching
Type=forking
PIDFile=/var/run/.system_server.pid
ExecStart=/usr/bin/device-daemon
TimeoutStopSec=2
NotifyAccess=all

[Install]
WantedBy=multi-user.target
