[Unit]
Description=Start the system server service
After=vconf-setup.service

[Service]
# set DISPLAY for usb_setting launching
Type=forking
Environment=DISPLAY=:0
ExecStartPre=/etc/init.d/device-daemon stop
ExecStart=/usr/bin/device-daemon
ExecStop=/etc/init.d/device-daemon stop
TimeoutStopSec=2
NotifyAccess=all

[Install]
WantedBy=multi-user.target
