Source: system-server
Section: tools
Priority: extra
Maintainer: Jonghoon Han <jonghoon.han@samsung.com> Jinkun Jang <jinkun.jang@samsung.com> DongGi Jang <dg0402.jang@samsung.com> TAESOO JUN <steve.jun@samsung.com>
Uploaders: Jinkun Jang <jinkun.jang@samsung.com> Wonil Choi <wonil22.choi@samsung.com>
Build-Depends: debhelper (>= 5), 
		libecore-dev, 
		libheynoti-dev, 
		libslp-setting-dev,
		libslp-sysman-dev,
		libslp-tapi-dev,
		libslp-pm-dev,
		libdevman-dev,
		libdevman-plugin-dev,
		libedbus-dev,
		dlog-dev,
		syspopup-caller-dev,
		libattr1-dev
Standards-Version: 3.7.2

Package: system-server-bin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: System server
 
Package: system-server-bin-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, system-server-bin (= ${Source-Version})
Description: System server degug package (unstripped)
