[Unit]
Description=Procesess Monitor
After=multi-user.target
Requires=rc-sdlevelinit.service

[Service]
Type=forking
ExecStart=/usr/bin/regpmon

[Install]
WantedBy=graphical.target
