[Unit]
Description=Start the system server service
After=vconf-setup.service

[Service]
# set DISPLAY for usb_setting launching
Environment=DISPLAY=:0
ExecStart=/usr/bin/system_server
TimeoutSec=2

[Install]
WantedBy=multi-user.target
