[Unit]
Description=Start the system server service

[Service]
# set DISPLAY for usb_setting launching
Environment=DISPLAY=:0
ExecStart=/usr/bin/system_server

[Install]
WantedBy=multi-user.target
