[Unit]
Description=Booting Done

[Service]
Type=oneshot
ExecStart=/usr/bin/dbus-send --type=signal --system /Org/Tizen/System/DeviceD/Core org.tizen.system.deviced.core.BootingDone

[Install]
WantedBy=default.target
